* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* Header */
header,
nav {
  width: 100%;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  gap: 1em;
}

.links a {
  color: #222;
}

.link:hover a {
  text-decoration: underline;
}

.btn {
  background: #4586f6;
  color: #fff !important;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 90%;
  max-width: 584px;
}

/* form */
form {
  width: 90%;
  max-width: 584px;
  padding-inline: 1em;
}

/* input group */
.input-group {
  margin-block: 2rem;
  padding-inline: 1em;
  max-width: 584px;
  height: 46px;
  border: 1px solid #999;
  border-radius: 50px;
  gap: 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  flex: 1;
  border: none;
  outline: none;
}

.search {
  width: 20px;
}

.keyboard {
  width: 24px;
}

/* button group */
.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.button-group a {
  color: #222;
  background: #ddd;
  padding: 10px 20px;
  border-radius: 5px;
}

/* footer */
footer {
  width: 100%;
}

.country {
  border-bottom: 1px solid #ddd;
  padding: 1em 2em;
}

.menu {
  padding-inline: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.menu > * {
  height: 47.5px;
}

.menu a {
  color: #222;
}

.first,
.second,
.thirth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.first li:hover a,
.second:hover a,
.thirth li:hover a {
  text-decoration: underline;
}

.second {
  order: 0;
  width: 100%;
}

.first {
  order: 1;
  flex-wrap: wrap;
}

.thirth {
  order: 3;
}

@media only screen and (min-width: 478px) {
  .button-group {
    flex-direction: row;
  }
}

@media only screen and (min-width: 647px) {
  .menu {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1201px) {
  .second {
    order: 2;
    width: auto;
  }
}
